#timelineForm {
  display : flex;
  text-align: center;
  justify-content: center;
}

#cardForm {
  display : flex;
  text-align: center;
  justify-content: center;
}

table {
  width: 70%;
  margin: 20px auto;
  border-collapse: collapse;
  border: solid;
}



