#timelinePlayForm {
  display : flex;
  text-align: center;
  justify-content: center;
}

#toGuessCardDiv {
  border: thin solid #000;
  background-color: #d3d3d3;
  width: 300px;
  margin: 0 auto 20px;
  border-radius: 5px;
}
